:root {
    --serif-font-stack: "Source Serif Pro", "Apple Garamond", "Baskerville", "Libre Baskerville", "Droid Serif", "Times New Roman", "Times", serif;
    --sans-serif-font-stack: "Lucida Sans Unicode", "Source Sans Pro", Helvetica, "Trebuchet MS", sans-serif;
    --monospaced-font-stack: "IBM Plex Mono", "Liberation Mono", Courier, monospace;
    --body-text-font-size: 1.2em;
    --body-text-font-size-mobile: 2.4em;
    --h2-text-font-size-mobile: calc(var(--body-text-font-size-mobile) * 1.0);
    --h3-text-font-size-mobile: calc(var(--body-text-font-size-mobile) * 1.0);
    --purple-light: #2d0070;
    --purple-dark: #1f004d;
}

body {
    background-color: var(--purple-dark);
    color: black;
    font-family: var(--serif-font-stack);
    font-size: var(--body-text-font-size);
    align-items: center;

    display: flex;
    flex-direction: column;
    height: 100%; 
    padding: 0;
    margin: 0;
    width: 100%;
}

a {
    text-decoration: inherit;
    color: inherit;
    font-family: var(--monospaced-font-stack);
}

.main p a {
    font-family: var(--serif-font-stack);
    background-color: rgb(232, 232, 232);
}

/* specifically override background color again */
.main p a:hover {
    background-color: var(--purple-light);
}

blockquote {
    background-color: lightgrey
}

h2 {
    margin-block-end: 0.5em;
}

a:hover {
    color: white;
    background-color: var(--purple-light);
}

a:hover.image-link {
    background-color: initial;
}

.header td a {
    display: block;
    width: 100%;
}


.header {
    width: 100%;
}

.module {
    width: 90%;
    max-width: 800px;
    align-items: center;
    border: 2px solid white;
    box-shadow: 10px 10px black;
    background-color: whitesmoke;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-radius: 3px;
}

.main {
    min-height: 80vh;
}

li {
    padding-top: 3px;
    padding-bottom: 3px;
}

img {
    max-width: 100%;
}

.compact-img img {
    max-width: 100%;
    max-height: 60vh;
}

.compact-img {
    text-align: center;
}

.blog-image {
    height: 100px;
    max-width: fit-content;
    padding-right: 10px;
}

.blog-desc {
    font-size: 0.8em;
}

input, select, button {
    text-align: right;
    font-family: inherit;
    font-size: inherit;
}

.interactive-box {
    max-width: 80%;
    margin: auto;
    padding: 0.5em 1em 1em 1em;
    border: 5px solid var(--purple-light);
    border-radius: 5px;
}

/* For Mobile */
@media only screen and (max-device-width: 540px) {
    .header td {
        text-align: center;
        font-size: xxx-large;
        padding: 20px;
    }

    .module {
        width: 95%;
        max-width: 95%;
    }

    /* .blog-desc {
        font-size: calc(var(--body-text-font-size-mobile) * 0.5);
    } */

    .blog-image {
        height: 150px;
        max-width: fit-content;
        padding-right: 10px;
    }

    body {
        font-size: var(--body-text-font-size-mobile);
    }

    /* input, select {
        font-size: var(--body-text-font-size-mobile);
    } */

    /* h2 {
        font-size: var(--h2-text-font-size-mobile);
    }

    h3 {
        font-size: var(--h3-text-font-size-mobile);
    } */

    .footer {
        padding-top: 5px;
        font-family: var(--monospaced-font-stack);
        font-size: xx-large;
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .footer img {
        height: 1.5em;
        margin-bottom: -0.2em;
    }
}

/* For tablet up to desktop */
@media only screen and (min-device-width: 540px) {
    .header td {
        text-align: center;
        font-size: large;
        padding: 20px;
    }

    .footer {
        padding-top: 5px;
        font-family: var(--monospaced-font-stack);
        font-size: large;
        margin-top: 6px;
        margin-bottom: 12px;
    }

    .footer img {
        height: 1.2em;
        margin-bottom: -0.2em;
    }
}