<!doctype html>
<html charset="utf-8">

<head>
    <link rel="icon" href="/icon.png" type="image/png" />
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Mono' rel='stylesheet'>
    <title>{{title}}</title>
    <meta charset="utf-8">
</head>

<body>
    <div class="module">
        <table class="header">
            <tr>
                <td><a href="/index.html">Blog</a></td>
                <td><a href="/misc.html">Miscellaneous</a></td>
                <td><a href="/about.html">About</a></td>
            </tr>
        </table>
    </div>
    <div class="module main">
        {% include main %}
    </div>
    <div class="module">
        <div class="content footer">
            <span style="vertical-align: super;">Other places:</span>
            <a href="https://github.com/metakuna" class="image-link">
                <img src="/github.png" />
            </a>
            <a href="https://twitter.com/metakuna" class="twitter-follow-button"
                data-show-count="false">Follow me</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>
    </div>
</body>

</html>